/*Animated Buttons*/
.btn-animated {
  position: relative;
  min-width: 0!important;
  padding-right: 45px!important;
}
.btn-animated i {
  -webkit-transition: right 0.2s ease-in-out;
  -o-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out;
  z-index: 3;
  right: 17px;
  position: absolute;
  line-height: 34px;
  top: 0;
  min-width: 12px;
}
.btn-animated:after {
  width: 35px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  content: "";
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  right: 0px;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-animated.radius-50:after {
  -webkit-border-radius: 0 25px 25px 0;
  -moz-border-radius: 0 25px 25px 0;
  border-radius: 0 25px 25px 0;
}
.btn-animated.btn-gray-transparent:after {
  background-color: rgba(0, 0, 0, 0.05);
}
.btn-animated:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-animated:hover i {
  right: 11px;
}
.btn-animated.btn-sm {
  padding-right: 35px!important;
}
.btn-animated.btn-sm:after {
  width: 25px;
}
.btn-animated.btn-sm i {
  right: 14px;
  line-height: 28px;
  min-width: 11px;
}
.btn-animated.btn-sm:hover i {
  right: 7px;
}
.btn-animated.btn-lg {
  padding-right: 60px!important;
}
.btn-animated.btn-lg:after {
  width: 45px;
}
.btn-animated.btn-lg i {
  right: 25px;
  line-height: 48px;
  min-width: 15px;
}
.btn-animated.btn-lg:hover i {
  right: 15px;
}
.btn-hvr {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hvr.radius-50 {
  overflow: hidden;
}

