home page

<header class="video">
        <div class="overlay"></div>
        <div class="intro-content">
            <img src="images/profile.png" class="img-responsive img-centered" alt="">
            <div class="brand-name">Artmo</div>
            <hr class="colored">
            <div class="brand-name-subtext">by ARTmosphere Inc.</div>
        </div>
        <div class="scroll-down page-scroll">
            <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down"></i></a>
        </div>
    </header>